# Virtual Environment
venv/
env/
.env

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDE / Editor settings (Optional but recommended)
.vscode/
.idea/
.DS_Store

# local files
*.local
*-local/